div{
	background-color: white;
}

body
{
	background : url('https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
}
.container
{
	width:20% !important;
	margin: 250px auto;
}