div{
	background-color: transparent;
	background-size:75%;

}

body
{
background : url(https://images.unsplash.com/photo-1550767552-374fd1babc81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}
.container
{
	width:25% !important;
	margin: 250px auto;

}


h2{
	color:white !important;
}


input#display1,input#display2{
	background-color:rgb(239, 157, 26);
	text-align: center;
	font-family: 'Coiny', cursive;;

	}




