div
{
	background-color: transparent;
	background-size:75%;
}
body
{
background-image : url("bg.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}
.container
{
	width:40% !important;
	margin: 250px auto;
}
h2
{
	color:green!important;
}
.heading
{
	color:green !important;
}
input#display1,input#display2
{
	background-color:rgb(239, 157, 26);
	text-align: center;
	font-family: 'Coiny', cursive;
	 height:60px;
	 font-size:14pt
	 
}